<div class="container d-flex justify-content-center">
  <div class="w-50 p-3">
  <h1 class="text-center title-font-style-color">List movies</h1>
    <% @list.movies.each_with_index do |movie, index| %>
    <div class="card-trip m-2">
          <img src= "<%= movie.poster_url %>" alt="A movie poster">
      <div class="card-trip-infos">
        <div>
          <h2>Title: <%= movie.title %></h2>
          <p>Overview: <%= movie.overview %></p>
          <%= @list.bookmarks[index].comment %>
          <p class="card-trip-pricing">Rating: <%= movie.rating %></p>
        </div>
      </div>
    </div>
    <% end %>

  <div>
    <div class="col-12 col-sm-6 m-2 row" style="width: auto">
      <div class="card-review-style">
        <h3>Reviews</h3>
        <% if @list.reviews.present? %>
          <% @list.reviews.each do |review| %>
        <div class="cards-review">
          <div>
            <p><% review.rating %></p>
            <% review.rating.times do %>
              <i class="fas fa-star star-yellow"></i>
            <% end %>
            <p><%= review.comment %></p>
          </div>
        </div>
          <% end %>
        <% else %>
          <%= 'Be the first to leave a review!' %>
        <% end %>
      </div>
    </div>
  </div>


  <div class="d-flex justify-content-between m-2">
    <h3 class="btn btn-flat"><%= link_to "Back", root_path%></h3>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-flat" data-bs-toggle="modal" data-bs-target="#exampleModal" style="color: white;">
      Leave a review
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Leave a Review</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="modal-body">
              <%= simple_form_for [@list, @review] do |f| %>
                <%= f.input :comment, placeholder: "Add your review here..." %>
                <%= f.input :rating %>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <%= f.submit "Submit Review", class: "btn btn-flat"%>
          </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
    <h3 class="btn btn-flat"><%= link_to "New Movie", new_list_bookmark_path(@list)%></h3>
    </div>
  </div>
</div>
