<div class="container d-flex justify-content-center">
  <div class="w-50 p-3">
  <h1>New Bookmark</h1>
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.input :comment %>
      <%= f.association :movie, input_html: { multiple: true, data: { controller: 'select2' }}, include_hidden: false %>
      <%= f.submit "Bookmark", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%# <%= cl_image_tag("j5uo7rqdek6kcdnx6uil",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%# <%= cl_image_tag("j5uo7rqdek6kcdnx6uil",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
