<div class="container d-flex justify-content-center">
  <div class="w-50 p-3">
    <h3>Add a movie to your <%= @list.name %> list</h3>
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.input :comment, placeholder: 'Enter a comment about the movie' %>
        <%= f.association :movie, input_html: { multiple: true, data: { controller: 'select2' }}, include_hidden: false %>
        <%= f.submit "Bookmark", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>

<%# <%= cl_image_tag("j5uo7rqdek6kcdnx6uil",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%# <%= cl_image_tag("j5uo7rqdek6kcdnx6uil",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
